// Mes couleurs
$my-blue: #638a9e;
$my-yellow: #f2e9a6;
$my-blue-dark: darken($my-blue, 15%);
$my-blue-light: lighten($my-blue, 15%);
$my-red: #f5576c;

// Ma police 

$font-primary: 'Montserrat', sans-serif;