@charset "UTF-8";

@import 'variables';

body {
  background-image: linear-gradient(to top right, #a8edea 31%, #f2e9a6 100%);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Navbar personnalisée
.navbar {
  .nav-link {
    color: $my-blue;
    font-weight: 700;
    font-size: 20px;
    font-family: $font-primary;

    &:hover {
      color: $my-red;
    }
  }

  .navbar-brand {
    color: $my-blue;
  }

  // Menu dropdown
  .dropdown-menu {
    background-color: $my-yellow;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 0;

    .dropdown-item {
      color: $my-blue;
      font-family: $font-primary;
      font-weight: 500;
      padding: 10px 20px;
      transition: all 0.3s ease;

      &:hover {
        background-color: $my-blue;
        color: white;
      }
    }
  }
}

// Page d'accueil 

.profile-section {

    .profile-image-container{
        display: inline-block;
    }

    .profile-image{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 5px solid $my-blue;
        object-fit: cover;  // Remplit le cercle sans déformer l'image
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }

    .profile-image:hover {
  transform: scale(1.05);
    }

    h1 {
    color: #2c3e50;
    font-weight: bold;
    font-size: 2.5rem;
    }

    .lead {
    font-size: 1.4rem;
    line-height: 1.5;
    }
}

// Design des pages des destinations

.country-title h1 {

    color: #2c3e50;
    font-weight: bold;
    font-size: 2.5rem;

}

.country-hero .hero-image {
    border: 5px solid $my-blue;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.lead {

    font-size: 1.4rem;
    line-height: 1.5;
}